body {
  background-color: #5f7eca;
}

.App {
  text-align: center;
}

.input-group {
  width: 60%;
  height: auto;
}

.card {
  max-width: 60%;
}

.card-title {
  position: absolute;
  padding: 80px;
  color: yellow;
}

.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 40px;
  font-size: 30px;
  color:whitesmoke

}

.card-temp {
  position: absolute;
  padding-left: 20px;
  color: rgb(248, 243, 243);
  margin-top: 110px;
  font-size: 60px;
}

.card-desc {
  position: absolute;
  padding-left: 20px;
  margin-top: 220px;
  font-size: 30px;
  color: rgb(88, 88, 88);
}

.icono {
  position: absolute;
  padding-left: 20px;
  margin-top: 220px;
 
}

.col {
  margin-top: 280px;

}
